<?xml version="1.0" encoding="UTF-8" ?>

<widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "tk.cvando.gmusic-desktop-remote"
    versionCode = "19"
    version     = "1.0.1" >

<!-- versionCode is optional and Android only -->

  <name>Gmusic Remote</name>
  <icon src="icon.png" />
  <description>
      Control Google play music desktop remotly
      https://www.googleplaymusicdesktopplayer.com/
  </description>

  <author href="https://github.com/cvando/gmusic-desktop-remote" email="clement.vandoolaeghe@gmail.com">
      Clement Vandoolaeghe
  </author>

  <plugin name="cordova-plugin-websocket" spec="0.12.0" source="npm"/>
</widget>
