body{
	background-color: black;
}
.glyphicon{
  	text-shadow: 0px 0px 1px black!important;
}
.glyphicon-play-circle{
	color:white;
}
.glyphicon-large{
	font-size: 41px;
}
.glyphicon-small{
	font-size: 35px;
	text-shadow: 1px 1px 2px grey;
}
.glyphicon-green{
	color:green;
}
.glyphicon-red{
	color:red;
}
.glyphicon-xsmall-orange{
	font-size: 18px;
	text-shadow: 1px 1px 2px grey;
	color:orange;
}
.glyphicon-white{
	color:white;
}

.btnlyrics{
	position:fixed;
	left:10px;
	top:65px;
	text-shadow: 0px 0px 1px black!important;
	font-size:22px;
	z-index:3;
}


/* //////////////navbar/////////////////// */

.navbar .navbar-header {
  float: none;
}
.navbar .navbar-toggle {
  display: block;
}
.navbar .navbar-collapse.collapse {
  display: none!important;
}
.navbar .navbar-nav {
  float: none!important;
}
.navbar .navbar-nav > li {
  float: none;
}
.navbar .navbar-collapse.collapse.in {
  display: block !important;
}
.rightnav{
	float:right;
	background-color:black;
	padding:15px;
	height:70px;
	width:250px;
}

#searchin{
	max-width:150px;
	padding-left:5px;
}
.innav{
	background: orange;
}
.overlaymenu {
    z-index: 1000;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 65px;
	padding:5px;
    background: black;
    color: rgba(255, 255, 255,0.8);
}
.overlayplay {
	/*background-color:rgba(244, 104, 66,0.5);*/
	background-color:none;
	height: 76px;
	width:100%;
    z-index: 1000;
    position: fixed;
    bottom: 0;
	margin: 0px!important ;
}
.iconect{
	color:white;
}
.inoconect{
	color:grey;
}
.form-control{
	max-width:200px;
	background:none;
	color:white;
	display: inline;
}

#btnplay{
	font-weight: bold;
}
.cropper{
  position: fixed;
  top:45px;
  width:100%;
	height:100%;
  overflow: hidden;
}
#imgplayer{
	-webkit-filter: brightness(100%);
	-webkit-filter: blur(0px);
    min-width: 100%;
    left: 50%;
    position: relative;
    transform: translateX(-50%);
	font-size:30px;
	transition:-webkit-filter 1s ease;
}
.uscust, .panel-body{
	padding:0px;
}
table{
	width:100%;
	margin-top:5px;
}
.tabline{
	padding:2px;
}
.titletab{
	margin:0px;
}
.icoflechebas{
	width:30px;
	padding-left:5px;
}
td{
	padding:5px;
	overflow: hidden;
}
.grosbtn{
	font-weight:bold;
}
.container-fluid{
margin:0px;
z-index: 1;
position: fixed;
width: 100%;
left: 0px;
top: 60px;
height:calc(100% - 65px);
padding:0px;
overflow: auto;

}
.btn-default{
	height:100%;
	width:100%;
	background: none;
	margin:0px;
	text-align:left;
	padding:0px;
	font-size:25;
	border-style:none;
}

.btn-info{
	background: none;
	border-style:none;
	margin-top:5px;
	margin-left:0px;
	margin-right:0px;
	width:14%;
	padding:5px;
	text-align:center;
}

 tr:active{
	background-color:rgba(255,255,255,0.8);

}
/* */
.btn-info:hover,.btn-info:active,.btn-info.active,.btn-info:active:focus,.btn-info:focus, .btn-info.active:focus{
	border-style:none!important;
  background: none!important;
	background-color: transparent!important;
	outline:0 none!important;
}

.btn-info:active:focus{
	color:orange!important;
	background: none!important;
	outline:0 none!important;
}
.colmargin{
	margin-left:2px;
	margin-right: 2px;
}
.progress{
	text-align: right;
	margin-bottom:0px;
	border-style:none;
	padding:0px;
	background-color:rgba(0,0,0,0.5);
	white-space: nowrap;
	height:4px;
	border-radius: 0px;
}

.list-button{
	margin-bottom:60px;
	padding:5px;
}
.progress-bar-warning{
	background-color:orange;
	border-radius: 10px;
	height:4px;
}
.btnplaylists{
	margin:0px;
	padding:10px;
}
.square{
	z-index: 2;
	position: fixed;
	width: 100%;
	left: 0;
	bottom: 80px;
	height:80px;
	
}
.line{
	height:30px;
	font-size:14px;
}
.result{
	margin:0px;
	padding:0px;
}
#playlistslab{
	border-radius:0px;
	text-align:left;
	padding:3px;
	padding-left:5;
	font-size:18;
	color:white;
	font-style:bold;
	text-shadow: 0px 0px 1px grey;
	border-style:none;
	font-variant:small-caps;
	height:50px;
	background-color:black;
	
}
#albartlabel{
	border-radius:0px;
	text-align:left;
	font-size:16;
	padding-top:0px;
	padding-bottom:0px;
	padding-left:5px;
	color:#9f9f9f;
	font-style:bold;
	text-shadow: 0px 0px 1px grey;
	margin:0px;
	border-style:none;
	font-variant:small-caps;
	min-height:30px;
	background-color:rgba(0,0,0,0.5);
}
#tracklabel{
	border-radius:0px;
	text-align:left;
	padding:3px;
	padding-left:5;
	font-size:20;
	color:white;
	font-style:bold;
	text-shadow: 0px 0px 1px grey;
	margin:0px;
	border-style:none;
	font-variant:small-caps;
	background-color:rgba(0,0,0,0.5);
}
.carre{
	max-width:80px;
}
.navbarbody{
	box-shadow:none;
	border-style: none !important;
}

#addip{
	max-width:180px;
	color:black;
}
.panel{
	border-style:none;
	margin:0px;
 	background:none;
}
.panel-group{
	margin:0px;
	overflow-y: auto;
}

.panel-custom{
	border-top-style: none;
}

#accordion1{
	height:200px;
	padding-bottom:50px;
}
#accordion10{
	height:200px;
	padding-bottom:50px;
}
#accordion2{
	padding-bottom:50px;
}

.paneltitre{
	border-style:none;
	outline:0 none;
	padding:0px;
}
.titre{
	font-variant:small-caps;
	color:white;
	padding-left:10px;
	font-size:16;
	text-shadow: 2px 1px 5px grey;
}
.text{
	font-variant:small-caps;
	color:white;
	font-size:16;
	text-shadow: 1px 0px 1px grey;
	font-style:bold;
	overflow:hidden;
}
.list-group-horizontal .list-group-item {
    display: inline-block;
}
.list-group-horizontal .list-group-item {
	margin-bottom: 0;
	margin-left:4px;
	margin-right: 0;
}

/* animation */
@-webkit-keyframes right {
 
  0% {
    transform: translate(0%, 0px);
  }
  100% {
    transform: translate(100%, 0px);
  }
}

@-webkit-keyframes left {
 
  0% {
    transform: translate(100%, 0px);
  }
  100% {
    transform: translate(0%, 0px);
  }
}

@-webkit-keyframes rright {
 
 0% {
    transform: translate(-100%, 0px);
  }
  100% {
    transform: translate(-0%, 0px);
  }
}

@-webkit-keyframes rleft {
 
  0% {
    transform: translate(0%, 0px);
  }
  100% {
    transform: translate(-100%, 0px);
  }
}

#menu{
	position:absolute;
  	width:100%;
	left:-100%;
	z-index:7;
}
.mini{
	height:60px;
	width: 60px;
}
#queue{
	position:absolute;
	width:100%;
	right:-100%;
	z-index:3;
}
#results{
	position:absolute;
	width:100%;
	right:-100%;
	z-index:5;
}
#library{
	position:absolute;
	width:100%;
	right:-100%;
	z-index:6;
}
#lyrics{
	position:absolute;
	width:100%;
	white-space: pre-wrap;
	font-size:20px;
	text-align: center;
	color: white;
	z-index:5;
	overflow-y:auto;
}
.sublibrary{
	overflow-y:auto!important;
}
.settings{
	background-color: black !important;
	height:90px;
	
}
.glyphicon-xsmall{
	font-size: 25px;
	text-shadow: 1px 1px 2px grey;
}
.enabled{
	text-shadow: 5px 5px 1px black;
}
#volume{
	width:80%;
	position:fixed;
	right:0px;
	bottom:100px;
	width: 150px;
	z-index:2;
}
.resleft{
	position:absolute;
	left:0px;
	width: 48%;
	overflow-y:auto;
}
.resright{
	position:absolute;
	right:0px;
	width: 48%;
	overflow-y:auto;
}
